body {
    background-color: #f5f5f5;
}

#events-list {
    margin-top: 20px;
}

.event-card {
    min-height: 200px;
    max-height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-title, .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


button {
    margin-right: 10px;
}
